<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="category">
                <span jhiTranslate="limonnanaApp.category.detail.title">Category</span>
            <h2> {{category.name}}</h2>
            
            <jhi-alert-error></jhi-alert-error>
           
            <div class="table-responsive" *ngIf="!categoryListIsEmpty">
                <table class="table table-striped">
                    <thead>
                        <span jhiTranslate="limonnanaApp.category.detail.children">Categories children</span>
                    </thead>
                    <tbody *ngIf ="category.categories">
                    <tr *ngFor="let kategory of category.categories">
                         <td>{{kategory.name}}</td>
                    </tr>
                    </tbody>
                    </table>
              </div>

              <div class="table-responsive" *ngIf="!productListIsEmpty">
                    <table class="table table-striped">
                        <thead>
                         <span jhiTranslate="limonnanaApp.category.detail.productsInThisCategory">Products in this category</span>
                        </thead>
                        <tbody *ngIf ="category.products">
                        <tr *ngFor="let product of category.products">
                             <td>{{product.name}}</td>
                        </tr>
                        </tbody>
                        </table>
                  </div>
    


            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category', category.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>

       

    </div>
</div>
