<div class="row justify-content-center">
    <div class="col-8">

       
            <!--div class="form-group">
              <input type="text" class="form-control" name="searchField" id="field_searchField"
                       formControlName="searchField"/>
            </div-->

            <div class="input-group mb-3">
                <input type="text" class="form-control" name="searchField" id="field_searchField"
                formControlName="searchField" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                       <span class="input-group-text" id="basic-addon2">Search</span>
                </div>
              </div>

    </div>
    
</div>
