<div class="row justify-content-center">
    <div class="col-8">
      <form name="searchForm" role="form"  (ngSubmit)="search()" [formGroup]="searchForm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="searchField" id="field_searchField"
                formControlName="searchField"  aria-describedby="basic-addon2">
                <div class="input-group-append">
                  
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                       <!---input class="input-group-text" id="basic-addon2" type="submit" value="Search"-->
                </div>
              </div>

    </div>
    
</div>
